@model IPagedList<HandiBugTrackerWebClient.Library.Models.CompBugViewModel>
@using X.PagedList
@{
    ViewBag.Title = "Index";
}

<a class="btn btn-primary" style="margin-top:8px;margin-bottom:8px" href="/BugDetails/Create">Create Bug</a>
@Html.Partial("_BugTableView", Model)


