@model IPagedList<HandiBugTrackerWebClient.Library.Models.CompBugViewModel>
@using X.PagedList
@{
    ViewBag.Title = "Index";
}
<h3>Bug List</h3>
@Html.ActionLink("Create New Bug", "Create", "BugDetails")
@Html.Partial("_BugTableView", Model)

