body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*login form*/
.login-form {
    margin: 0 auto;
}

/*bugdetails*/
.bugModule {
    margin-top: 8px;
    background-color: rgb(250,251,252);
    box-shadow: 0 1px 4px rgba(40,41,42,.2);
}

.bugModule-header {
    color: rgb(80,81,82);
    background: rgb(240,241,242);
}

.bugModule-title {
    display: table-cell;
    padding-left: 5px;
    font-size: 13px;
}

.bugModule-content {
    display:flex;
    flex-wrap:wrap;
    padding:5px;
}

.bugModule .bugFields-lhs, .bugModule .bugFields-rhs {
    flex: none;
    width: 50%;
    min-width: 450px;
    display: table-cell;
    vertical-align: top;
}

.bugModule .bugField {
    display: table;
    box-sizing: border-box;
    margin: 4px 0;
    width: 100%;
    vertical-align: top;
}

.bugModule .bugField .bugName {
    display: table-cell;
    padding-right: 10px;
    width: 100px;
    min-width: 100px;
    color: rgb(80,81,82);
    text-align: right;
    vertical-align: top;
}

.bugModule .bugField .bugValue {
    display: table-cell;
    padding-right: 10px;
}

.bugTextarea {
    max-width: none;
}

.user-role {
    border: 1px solid;
    border-radius: 4px;
    padding: 1px 4px;
    color: rgb(40, 120, 40);
    font-size: 11px;
}

.bugList-tbl {
    border-top: 1px solid rgb(200,201,202);
    box-shadow: 0 1px 4px rgba(40,41,42,.2);
}

.bugList-tbl thead{
    background: rgb(230,231,232);
}

.bugList-tbl tr {
    border-bottom: 1px solid rgb(200,201,202);
}

.bugList-tbl thead th {
    padding: 4px 8px;
}

.bugList-tbl thead th:not(:last-of-type) {
    border-right: 1px solid rgb(200,201,202);
}

.bugList-tbl tbody {
    background-color: rgb(252,252,252)
}

.bugList-tbl tbody td {
    padding: 8px;
}

.bugList-tbl tbody th.first-child, td.first-child, a.bz_secure {
    padding-left: 20px !important;
}

.auth-form {
    width: 340px;
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}